@model Agape316.Models.PreviouslySavedModel

@{
    ViewData["Title"] = "View Previously Saved";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<style>
    .ddl-label  {
        font-weight: bold;
    }
</style>
<div class="container-xxl">
    <div class="row">
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Events:</label>
                    @Html.DropDownListFor(m => m.EventId, Model.Events, "Please select", new { @id = "ddlEvents", @onchange = "GetSelectedAgapeEvent(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Events have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Event Dishes:</label>
                    @Html.DropDownListFor(m => m.Id, Model.EventDishes, "Please select", new { @id = "ddlEventDishes", @onchange = "GetSelectedEventDish(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Event Dishes have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Meal Schedules:</label>
                    @Html.DropDownListFor(m => m.Id, Model.MealSchedules, "Please select", new { @id = "ddlMealSchedules", @onchange = "GetSelectedMealSchedule(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Meal Schedules have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Meal Deliveries:</label>
                    @Html.DropDownListFor(m => m.Id, Model.MealDeliveries, "Please select", new { @id = "ddlMealDeliveries", @onchange = "GetSelectedMealDelivery(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Meal Deliveries have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function GetSelectedAgapeEvent(el) {
        event.preventDefault();
        var selectedId = parseInt(el.value);    
        if (el.value == "")
        {
            $(".selected-item").hide();
            return;
        }
     
        $.ajax({
            type: "GET",
            url: "/Home/GetEventDetails",
            data: { "selectedId": selectedId },
            success: function (response) { 
                $("#eventTitle").text(response.data.Title);
                $("#eventDescription").text(response.data.Description);
                $("#eventLocation").text(response.data.Location);
                $("#eventDateAndTime").text(response.data.DateAndTime);
                $("#eventContactEmail").text(response.data.ContactEmail);
                $("#eventCategory").text(response.data.Category);
                $("#eventSandwichSlots").text(response.data.SandwichSlots);
                $("#eventSideDishSlots").text(response.data.SideDishSlots);
                $("#eventMainDishSlots").text(response.data.MainDishSlots);
                $("#eventDessertSlots").text(response.data.DessertSlots);
                $("#eventSetUpSlots").text(response.data.SetUpSlots);
                $("#eventServeSlots").text(response.data.ServeSlots);
                $("#eventCleanUpSlots").text(response.data.CleanUpSlots);
                $("#eventNotes").text(response.data.Notes);
                $("#eventPhoto").html("<img src='" + response.data.ImageUrl + "' height=50 width=50 />");
                $("#eventEditLink").html(response.data.EditLink);
                $(".selected-item").show();
                $(".selected-event-dish").hide();
                $(".selected-meal-schedule").hide();
                $(".selected-meal-delivery").hide();
            },
            failure: function (response) {
                alert('Get selected item details failed');
            },
            error: function (response) {
                alert('Error getting selected item details');
            }
        });
    }

    function GetSelectedEventDish(el) {
        event.preventDefault();
        var selectedId = parseInt(el.value);
        if (el.value == "") {
            $(".selected-event-dish").hide();
            return;
        }

        $.ajax({
            type: "GET",
            url: "/Home/GetEventDishDetails",
            data: { "selectedId": selectedId },
            success: function (response) {
                $("#eventDishTitle").text(response.data.Title);
                $("#eventDishDescription").text(response.data.Description);
                $("#eventDishContactEmail").text(response.data.ContactEmail);
                $("#eventDishCategory").text(response.data.Category);
                $("#eventDishSandwichSlots").text(response.data.SandwichSlot);
                $("#eventDishSideDishSlots").text(response.data.SideDishSlot);
                $("#eventDishMainDishSlots").text(response.data.MainDishSlot);
                $("#eventDishDessertSlots").text(response.data.DessertSlot);
                $("#eventDishSetUpSlots").text(response.data.SetUpSlot);
                $("#eventDishServeSlots").text(response.data.ServeSlot);
                $("#eventDishCleanUpSlots").text(response.data.CleanUpSlot);
                $("#eventDishNotes").text(response.data.Notes);
                $("#eventDishPhoto").html("<img src='" + response.data.ImageUrl + "' height=50 width=50 />");
                $("#eventDishEditLink").html(response.data.EditLink);
                $(".selected-event-dish").show();
                $(".selected-item").hide();
                $(".selected-meal-schedule").hide();
                $(".selected-meal-delivery").hide();
            },
            failure: function (response) {
                alert('Get selected item details failed');
            },
            error: function (response) {
                alert('Error getting selected item details');
            }
        });
    }

    function GetSelectedMealSchedule(el) {
        event.preventDefault();
        var selectedId = parseInt(el.value);
        if (el.value == "") {
            $(".selected-meal-schedule").hide();
            return;
        }

        $.ajax({
            type: "GET",
            url: "/Home/GetMealScheduleDetails",
            data: { "selectedId": selectedId },
            success: function (response) {
                $("#mealScheduleTitle").text(response.data.Title);
                $("#mealScheduleDescription").text(response.data.Description);
                $("#mealScheduleCoordinator").text(response.data.Coordinator);
                $("#mealScheduleCoordinatorEmail").text(response.data.CoordEmail);
                $("#mealScheduleCoordinatorPhone").text(response.data.CoordPhone);
                $("#mealScheduleFullName").text(response.data.RecipientFName + " " + response.data.RecipientLName);
                $("#mealScheduleAddress").text(response.data.RecipientAddress + " " + response.data.RecipientCity + ", " + response.data.RecipientState + " " + response.data.RecipientZipcode);
                $("#mealScheduleEmail").text(response.data.RecipientEmail);
                $("#mealSchedulePhone").text(response.data.RecipientPhone);
                $("#mealScheduleServeSlots").text(response.data.ServeSlot);
                $("#mealScheduleStartAndEndDates").text(response.data.StartAndEndDates);
                $("#mealScheduleNotes").text(response.data.Notes);   
                $("#mealScheduleFoodAllergies").text(response.data.FoodAllergies);
                $("#mealScheduleEditLink").html(response.data.EditLink);
                $(".selected-meal-schedule").show();
                $(".selected-item").hide();
                $(".selected-event-dish").hide();
                $(".selected-meal-delivery").hide();
            },
            failure: function (response) {
                alert('Get selected item details failed');
            },
            error: function (response) {
                alert('Error getting selected item details');
            }
        });
    }

    function GetSelectedMealDelivery(el) {
        event.preventDefault();
        var selectedId = parseInt(el.value);
        if (el.value == "") {
            $(".selected-meal-delivery").hide();
            return;
        }

        $.ajax({
            type: "GET",
            url: "/Home/GetMealDeliveryDetails",
            data: { "selectedId": selectedId },
            success: function (response) {                
                $("#mealDeliveryFullName").text(response.data.FirstName + " " + response.data.LastName);                
                $("#mealDeliveryEmail").text(response.data.Email);
                $("#mealDeliveryPhoneNumber").text(response.data.Phone);
                $("#mealDeliveryDate").text(response.data.DeliveryDateStr);
                $("#mealDeliveryTime").text(response.data.DeliveryTime);
                $("#mealDeliveryNotes").text(response.data.Notes);
                $("#mealDeliveryEditLink").html(response.data.EditLink);
                $(".selected-meal-delivery").show();
                $(".selected-meal-schedule").hide();
                $(".selected-item").hide();
                $(".selected-event-dish").hide();
            },
            failure: function (response) {
                alert('Get selected item details failed');
            },
            error: function (response) {
                alert('Error getting selected item details');
            }
        });
    }

    $(document).ready(function () {        
        if ($("#logged").val() == "true") {
            $('#ddlEvents').attr('disabled', false);
            $('#ddlEventDishes').attr('disabled', false);
            $('#ddlMealSchedules').attr('disabled', false);
            $('#ddlMealDeliveries').attr('disabled', false);
        }
        else {
            $('#ddlEvents').attr('disabled', true);
            $('#ddlEventDishes').attr('disabled', true);
            $('#ddlMealSchedules').attr('disabled', true);
            $('#ddlMealDeliveries').attr('disabled', true);
        }
    });
</script>

