@model Agape316.Models.PreviouslySavedModel

@{
    ViewData["Title"] = "View Previously Saved";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<style>
    .ddl-label  {
        font-weight: bold;
    }
</style>
<div class="container-xxl">
    <div class="row">
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Events:</label>
                    @Html.DropDownListFor(m => m.EventId, Model.Events, "Please select", new { @id = "ddlEvents", @onchange = "GetSelectedAgapeEvent(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Events have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Event Dishes:</label>
                    @Html.DropDownListFor(m => m.Id, Model.EventDishes, "Please select", new { @id = "ddlEventDishes", @onchange = "GetSelectedEventDish(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Event Dishes have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Meal Schedules:</label>
                    @Html.DropDownListFor(m => m.Id, Model.MealSchedules, "Please select", new { @id = "ddlMealSchedules", @onchange = "GetSelectedMealSchedule(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Meal Schedules have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
        <div class="col-md-6">
            @if (Model != null)
            {
                <div class="form-group my-2">
                    <label class="ddl-label">Meal Deliveries:</label>
                    @Html.DropDownListFor(m => m.Id, Model.MealDeliveries, "Please select", new { @id = "ddlMealDeliveries", @onchange = "GetSelectedMealDelivery(this)" })
                    <br />
                </div>
            }
            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        No Meal Deliveries have been created yet. <br />
                    </h3>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function GetSelectedAgapeEvent(el) {
        event.preventDefault();
        var selectedId = parseInt(el.value);    
        if (el.value == "")
        {
            $(".selected-item").hide();
            return;
        }
     
        $.ajax({
            type: "GET",
            url: "/Home/GetItemDetails",
            data: { "itemType": "Event", "selectedId": selectedId },
            success: function (response) { 
                $("#eventTitle").text(response.data.Title);
                $("#eventDescription").text(response.data.Description);
                $("#eventLocation").text(response.data.Location);
                $("#eventDateAndTime").text(response.data.DateAndTime);
                $("#eventContactEmail").text(response.data.ContactEmail);
                $("#eventCategory").text(response.data.Category);
                $("#eventSandwichSlots").text(response.data.SandwichSlots);
                $("#eventSideDishSlots").text(response.data.SideDishSlots);
                $("#eventMainDishSlots").text(response.data.MainDishSlots);
                $("#eventDessertSlots").text(response.data.DessertSlots);
                $("#eventSetUpSlots").text(response.data.SetUpSlots);
                $("#eventServeSlots").text(response.data.ServeSlots);
                $("#eventCleanUpSlots").text(response.data.CleanUpSlots);
                $("#eventNotes").text(response.data.Notes);
                $("#eventPhoto").html("<img src='" + response.data.ImageUrl + "' height=50 width=50 />");
                $(".selected-item").show();                
            },
            failure: function (response) {
                alert('Get selected item details failed');
            },
            error: function (response) {
                alert('Error getting selected item details');
            }
        });
    }

    $(document).ready(function () {        
        if ($("#logged").val() == "true") {
            $('#ddlEvents').attr('disabled', false);
            $('#ddlEventDishes').attr('disabled', false);
            $('#ddlMealSchedules').attr('disabled', false);
            $('#ddlMealDeliveries').attr('disabled', false);
        }
        else {
            $('#ddlEvents').attr('disabled', true);
            $('#ddlEventDishes').attr('disabled', true);
            $('#ddlMealSchedules').attr('disabled', true);
            $('#ddlMealDeliveries').attr('disabled', true);
        }
    });
</script>

