@model Agape316.Models.ItemViewerModel

<div class="container-xxl">
<div class="row mt-2 selected-item">        
    <table>
        <tr>
            <td>Title: </td>
            <td>Description: </td>
            <td>Location: </td>
            <td>Date/Time: </td>
            <td>Contact Email: </td>
            <td>Category: </td>
        </tr>
        <tr>
            <td id="eventTitle"></td>
            <td>Description </td>
            <td>Location </td>
            <td>Date/Time </td>
            <td>Contact Email </td>
            <td>Category </td>
        </tr>
    </table>
</div>

   @* <div class="row mt-2">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-group-label">Sandwich Slots:</label>
                    <label id="SandwichSlots"></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-group-label">Side Dish Slots:</label>
                    <label id="SideDishSlots"></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-group-label">Main Dish Slots:</label>
                    <label id="MainDishSlots"></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-group-label">Dessert Slots:</label>
                    <label id="DessetSlots"></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-group-label">Set Up Slots:</label>
                    <label id="SetUpSlots"></label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="form-group-label">Serve Slots:</label>
                    <label id="ServeSlots"></label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="form-group-label">Clean Up Slots:</label>
                    <label id="CleanUpSlots"></label>
                </div>
            </div>
        </div>
	</div>
    *@
</div>
            