@model Agape316.Models.HomeIndexModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Navbar & Hero Start --> 
<div class="container-xxl top-container bg-dark">    
    <div class="container top-inner-container"> 
        <div class="row align-items-start">
            <div class="col-md-12">
                <p class="mainPara">
                    <span class="welcome">Welcome</span> to Sand Ridge Baptist Church Agape Ministry in Lexington, TN!
                    Our mission is to provide service opportunities for people to demonstrate 
                    God's agape love for His children as written in John 3:16: 
                    <span class="scripture-316">"For God so loved the world, that he gave his only begotten Son, that whosoever believeth in
                        him should not perish, but have everlasting life."
                    </span>
                </p>
            </div>            
        </div>
        
        <div class="row align-items-start">
            <form asp-controller="Search" asp-action="Search" method="post" role="form" id="homeSearchForm">
                <input asp-for="SearchQuery" id="txtSearch" type="text" class="homeSearch" placeholder="Search..." onfocus="clearThis(this)" />
                <button type="submit" class="btn btn-forumSearch" onclick="return checkEntry()">
                    <i class="material-icons">search</i>
                </button>
            </form>
        </div>
        <div class="row gx-4">
            <div class="col-lg-6 text-center py-4">
                <div>
                    <p class="header-inner-left">
                        
                    </p>
                    <a href="#" onclick="showPlanEventModal()" class="btn btn-primary py-sm-3 px-sm-5 me-3">Plan An Event</a>
                </div>
            </div>
            <div class="col-lg-6 text-center py-4">
                <div>
                    <p class="header-inner-right">
                    </p>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3">Bring A Dish</a>
                </div>
            </div>
        </div>
        <div class="row gx-4">
            <div class="col-lg-6 text-center py-4">
                <div>
                    <p class="header2-inner-left">

                    </p>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3">Schedule Meals</a>
                </div>
            </div>
            <div class="col-lg-6 text-center py-4">
                <div>
                    <p class="header2-inner-right">
                    </p>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3">View Events</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<div class="modal fade" id="planEventModal" tabindex="-1" aria-labelledby="planEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content rounded-0">
        <div class="modal-header">
            <h5 class="modal-title" id="planEventModalLabel">Plan Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row g-0">
                <div class="col-md-12 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                        <h1 class="text-white mb-4">Set Up Event</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Date & Time</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="select1">
                                            <option value="1">People 1</option>
                                            <option value="2">People 2</option>
                                            <option value="3">People 3</option>
                                        </select>
                                        <label for="select1">No Of People</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function checkEntry()
    {        
        var searchVal = $("#txtSearch").val();
        if (searchVal == "")
        {
            return false;
        }
        else
        {
            $("#homeSearchForm").submit;
        }
    }

    function clearThis(target) {
            target.value = "";
    }

    function showPlanEventModal()
    {        
        $("#planEventModal").modal("show");
    }

    $(function () {
        $('#planEventModal').on('hidden.bs.modal', function () {
            window.location = "/";
        });
    })
</script>
