@using Agape316.Enums;
@model Agape316.Models.AdminViewModel

@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<p style="height:100px;">
    <h1>Upload Document</h1>
</p>
<div class="container-xxl py-6">
    <div class="wow fadeInUp" data-wow-delay="0.1s">
        <div class="row">
            <div class="col-md-6">
                <form asp-controller="Admin" asp-action="AddEditDocument" method="post" id="uploadDocumentForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <label asp-for="FileType">File Type</label>
                        @Html.DropDownListFor(m => m.FileType,
                        new SelectList(Enum.GetValues(typeof(FileTypeEnum))),
                        "Select File Type")
                        <span asp-validation-for="FileType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author">Author</label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <label asp-for="Notes">Notes</label>
                        <textarea asp-for="Notes" rows="3" class="form-control"></textarea>
                    </div>
                    <div id="upload" class="form-group my-2">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <label class="btn btn-default btn-file">
                                    Select File <input type="file" name="Upload" style="display:none;" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" id="adminSaveBtn" class="btn btn-submitEvent" onclick="checkFile('UploadDocument')">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                @{
                    var rootPath = string.Empty;
                    List<string> files = new List<string>();
                    if (ViewData["RootPath"] != null)
                    {
                        rootPath = ViewData["RootPath"].ToString();
                        files = Directory.EnumerateFiles(rootPath).ToList();
                    }                    
                    <div class="form-group">
                        <h1>Download Document</h1>
                    </div>
                    if (files.Count > 0)
                    {
                        <table>
                           <tr>
                                <td class="doc-table-cell">Filename</td>
                                <td class="doc-table-cell">File Size</td>
                                <td class="doc-table-cell">Last Modified</td>
                           </tr>
                            @foreach (var file in files)
                            {
                                FileInfo info = new FileInfo(file);
                                var ext = info.Extension.ToLower();
                                if (ext == ".txt"
                                || ext == ".docx"
                                || ext == ".pdf"
                                || ext == ".xlsx")
                                {
                                    <tr>
                                        <td class="doc-table-cell">
                                            <a href="/Admin/Download?fileName=@System.IO.Path.GetFileName(file)">@System.IO.Path.GetFileName(file)</a>
                                        </td>
                                        <td class="doc-table-cell">
                                            @info.Length
                                        </td>
                                        <td class="doc-table-cell">
                                            @info.LastWriteTime
                                        </td>
                                    </tr>                                    
                                }                                        
                            }
                        </table>
                    }                    
                }               
            </div>
        </div>
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}


