html {
    font-size: 14px;
    scroll-behavior: unset !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }  
}

@media (max-width: 991px) {
    div.container-xxl.top-container.bg-dark {
        padding-top: 0;
        padding-bottom: 0;
    }
    div.top-inner-container {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    table#searchResultsTable {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
    }

        table#searchResultsTable tr {
            display: flex;
            flex-direction: column;
        }

        table#searchResultsTable td {
            white-space: nowrap;
        }
}


td {
    font-size: small !important;
    vertical-align: text-top !important;
}

.sub-heading {
    color: #0d6efd;
    font-weight: bold;
}

.scripture-316 {
    font-weight: bold;
    font-style: italic;
}

div.container-xxl.top-container.bg-dark {
    padding-top: 15px;
    padding-bottom: 5px;
}

div.top-inner-container {
    margin-top: 3em;
    padding-top: 3em;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}

/*for tab control*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

.btn-login-register {
    color: white;
}

.margin-top-bottom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.welcome {
    font-size: 1.9em;
    font-weight: bold;
}

.mainPara {
    margin: 0 0 5px 0;
    color: white;
}

.header-inner-left {
    min-height: 300px;
    background-image: url('/img/planmeal.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-inner-right {
    min-height: 300px;
    background-image: url('/img/casserole.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header2-inner-left {
    min-height: 300px;
    background-image: url('/img/schedule-event.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header2-inner-right {
    min-height: 300px;
    background-image: url('/img/DeliverMeal.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.homeSearch {
    width: 200px;
}

.btn-forumSearch {
    color: white;
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
}


.btn-file {
    color: white;
    background-color: #4FC3F7;
    transition: ease-in 0.3s;
    margin-bottom: 5px;
    width: 100%;
}

    .btn-file:hover {
        background-color: #039BE5;
        transition: ease-in 0.3s;
    }


.btn-submitEvent {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.3s;
    border-radius: 5px !important;
    margin-bottom: 5px;
    margin-top: 1px !important;
    width: 100%;
}

    .btn-submitEvent:hover {
        transition: ease-in 0.1s;
        background-color: #00897B !important;
        color: #fff !important;
    }


.logo-grill {
    height: 60px;
    width: 60px;
    animation: imgRotate 50s linear infinite;
}


.sectionHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 0;
}

.sectionHeading {
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto';
    padding: 0;
    border-bottom: 1px solid #335;
    margin-bottom: 0;
}

/* User Profiles */

.profile-image-container {
    margin-bottom: 5px;
    text-align: center;
}

#userEmailLabel, #userBioLabel, #userCreatedLable, #userRating, #userActiveLabel {
    display: block;
    color: #444;
    font-family: 'Roboto';
    padding-top: 3px;
}

#userName {
    display: block;
    color: #2569d5;
    font-family: 'Roboto';
    font-size: 1.7em;
}

.isAdmin {
    color: red;
}

.eventModalContent {
    background-color: cornsilk;
}

.eventModalHeader {
    background-color: wheat;
}

.edit-event {
    text-align: right !important;
}

.text-slots {
    width: 50px;
}

.label-slots-2 {
    width: 120px;
}

.form-group-small {
    font-size: 11px;
    color: firebrick;
}

div#eventContainer {
    margin:0;
    padding:0;
}

.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
}

.enabled-link {
    pointer-events: all;
    color: #0d6efd;
    text-decoration: underline;
}

.image-url-hidden {
    display:none;
}

.agape-group-photo {
    min-height: 300px;
    background-image: url('/img/lightbluesky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}