html {
    font-size: 14px;
    scroll-behavior: unset !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}

/*for tab control*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

.btn-login-register {
    color: white;
}

.margin-top-bottom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-inner-left {
    min-height: 350px;
    background-image: url('/img/planameal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header-inner-right {
    min-height: 350px;
    background-image: url('/img/casserole.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.homeSearch {
    width: 200px;
}

.btn-forumSearch {
    color: white;
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
}
