@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Reset Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
    <script>       

       $(function() {
            $("#resetPasswordModal").modal("show");
        });        

        $(function () {
            $('#resetPasswordModal').on('hidden.bs.modal', function () {
                window.location = "/";
            });
        })
                
    </script>
}
