<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - [Ministry Name]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" onerror="this.removeAttribute('data-rocket-async')" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Libraries Stylesheet -->
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />    
</head>
<body style="margin-bottom:0;">   
    <div class="container-xxl position-relative p-0">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-0">
                <div class="container">
                    <a id="logoLink" href="#" class="navbar-brand p-0">
                        <h1 class="text-primary m-0"><img src="~/img/agape316logo.png" alt="logo" />[Ministry Name]</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>                    
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0 pe-4">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            @{
                                if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                                        <div class="dropdown-menu m-0">                                            
                                            <a rel="noopener" href="/Admin/ManageUsers" class="dropdown-item">Manage Users</a>
                                        </div>
                                    </div>
                                }
                                <a class="nav-item nav-link active" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            }
                        </div>                       
                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()  
        </main>
    
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- Template Javascript -->  
    <script src="~/js/mvc-grid/mvc-grid.js"></script>  
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        $(function () {
            var tbl = $("#all-users-table");
            var rows = $(tbl)[0].rows;
            if (rows && rows.length > 0) {
                $.each(rows, function (index, value) {
                    if (index > 0) {
                        var cells = this.cells;
                        if (cells) {
                            var imageUrl = cells[8].innerText;
                            var newImageUrl = imageUrl.replace("'", "%27");
                            $(cells[0]).css({ "background-image": "url('" + newImageUrl + "')", "background-size": "contain", "background-repeat": "no-repeat", "background-position": "center" });
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>


