<div class="container selected-item">
    <br />    
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div id="eventEditLink" class="text-start"></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Title:</label>
                <label id="eventTitle"></label>
            </div>            
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Description:</label>
                <label id="eventDescription"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Location:</label>
                <label id="eventLocation"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Date/Time:</label>
                <label id="eventDateAndTime"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Contact Email:</label>
                <label id="eventContactEmail"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Category:</label>
                <label id="eventCategory"></label>
            </div>
        </div>
    </div>    
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Sandwich Slots:</label>
                <label id="eventSandwichSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Side Dish Slots:</label>
                <label id="eventSideDishSlots"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Main Dish Slots:</label>
                <label id="eventMainDishSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Dessert Slots:</label>
                <label id="eventDessertSlots"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Set Up Slots:</label>
                <label id="eventSetUpSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Serve Slots:</label>
                <label id="eventServeSlots"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Clean Up Slots:</label>
                <label id="eventCleanUpSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Event Photo:</label>
                <label id="eventPhoto"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Notes:</label>
                <label id="eventNotes"></label>
            </div>
        </div>
    </div>
</div>    