<div class="container selected-event-dish">
    <br />    
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div id="eventDishEditLink" class="text-start"></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Title:</label>
                <label id="eventDishTitle"></label>
            </div>            
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Description:</label>
                <label id="eventDishDescription"></label>
            </div>
        </div>
    </div>   
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Contact Email:</label>
                <label id="eventDishContactEmail"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Category:</label>
                <label id="eventDishCategory"></label>
            </div>
        </div>
    </div>    
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Sandwich Slots:</label>
                <label id="eventDishSandwichSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Side Dish Slots:</label>
                <label id="eventDishSideDishSlots"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Main Dish Slots:</label>
                <label id="eventDishMainDishSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Dessert Slots:</label>
                <label id="eventDishDessertSlots"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Set Up Slots:</label>
                <label id="eventDishSetUpSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Serve Slots:</label>
                <label id="eventDishServeSlots"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Clean Up Slots:</label>
                <label id="eventDishCleanUpSlots"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Event Photo:</label>
                <label id="eventDishPhoto"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Notes:</label>
                <label id="eventDishNotes"></label>
            </div>
        </div>
    </div>
</div>    