<div class="container selected-meal-delivery">
    <br />    
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div id="mealDeliveryEditLink" class="text-start"></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Full Name:</label>
                <label id="mealDeliveryFullName"></label>
            </div>            
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Email:</label>
                <label id="mealDeliveryEmail"></label>
            </div>
        </div>
    </div> 
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Phone Number:</label>
                <label id="mealDeliveryPhoneNumber"></label>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Delivery Date:</label>
                <label id="mealDeliveryDate"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 left-col">
            <div class="form-group">
                <label class="form-group-label">Notes:</label>
                <label id="mealDeliveryNotes"></label>
            </div>
        </div> 
        <div class="col-md-6 right-col">
            <div class="form-group">
                <label class="form-group-label">Delivery Time:</label>
                <label id="mealDeliveryTime"></label>
            </div>
        </div>
    </div>
</div>    