@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@{
    Layout = "~/Areas/Identity/Pages/_ForgotPasswordLayout.cshtml";
}

<p>
    Please check your email to reset your password.
</p>
